body {
    width: auto;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}


.col1 {
    float:left; 
    width:auto;
    color: white;
    margin-left:200px;
    padding: 15px;
    margin-top: 345px;
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
}



.OpeningHours_Header{
    font-family: 'Lobster', cursive;
}

.OpeningHours {
    float:right; 
    width: auto; 
    margin-right:300px;
    background-color: white;
    padding: 15px;
    margin-top: 150px;
    font-family: 'Quicksand', sans-serif;
    opacity: 0.9;
    z-index:1;
}
.OpeningHours__Content  {
    float:left;
}
.OpeningHours__Status {
    font-size:60px;
}
.Day--Today {
    color:	#2E8B57;
}
.OpeningHours__Table tr td:first-child {
    font-weight:bold;
}
.OpeningHours__Status {
    display:block;
    margin-top:-1em;
    text-align:center;
}
.OpeningHours__Status--Open {
    color:white;
}
.OpeningHours__Status--Open:after {
    content:" open";
    color: white;
}
.OpeningHours__Status--Closed:after {
    content:" closed";
    color:white;
}
.OpeningHours__Table tr td {
    padding:5px;
}

.mySlides {
    display:none;
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    z-index:-1;

}

.timer {
    font-family: 'Quicksand', sans-serif;
    color: white;
    margin-left: 325px;
    font-size: 25px;
}

.button {
    background-color:white;
    border: none;
    color:black;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    margin-top: 450px;
    margin-left: -250px;
  }